html{
  direction: rtl
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
  font-family: 'IRAN Sans';
  src: url('assets/fonts/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.iranSansFont {
  font-family: IRAN Sans, Calibri !important;
}


.LeftToRight{
  direction: ltr; 
}

.RightToLeft{
  direction: rtl; 
}

.HnrM4{
  margin: 4px;
}


button {
  font-family: "Roboto medium", sans-serif;
  font-size: 14px;
  display: inline-block;
  height: 36px;
  min-width: 88px;
  padding: 6px 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  border-radius: 2px;
  background: rgba(103, 58, 183, 1);
  color: #fff;
  outline: 0;
}


.WordBreak{
  word-break: break-word;
}