html{
  direction: rtl
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto medium", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
  font-family: 'IRAN Sans';
  src: url('assets/fonts/IRANSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.iranSansFont {
  font-family: IRAN Sans, Calibri !important;
}
